{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "navbar-page.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
     <div class="navbar">
        <div class="navbar-logo">
            <img src="{% static "images/N-letter.png" %}" alt="" class="logo">
        </div>
        <div class="navbar-links" id="navbar-links">
            <ul>
                <li><a href="{% url "index" %}">Home</a></li>
                <li><a href="{% url "projects" %}">Projects</a></li>
                <li><a href="{% url "certificate" %}">Certifications</a></li>
                <li><a href="{% url "qualification" %}">Qualification</a></li>
                <li><a href="{% url "about" %}">About</a></li>
            </ul>
        </div>
        <div class="signup">
            {% if user.is_authenticated %}
                <a href="{% url "signout" %}">Signout</a>
            {% else %}
                <a href="{% url "signup" %}">Signup</a>
                <a href="{% url "signin" %}">Signin</a>
            {% endif %}

        </div>
        <button class="icon"><i class="fa-solid fa-bars" ></i></button>
        
    </div> 

</body>
</html>